<div id="posts-component">
  <app-header></app-header>

  <div class="posts-result__container">
    <ul class="posts-result__container-results">
      <li *ngFor="let item of postsList" class="posts-result">

        <div class="posts-result___details">
          <p>{{item.user}}</p>
          <img [src]="item.url" [alt]="item._id" type="image" class="posts-result__posted-all">

        </div>

        <div class="posts-result__add">
          <a routerLink="/postdetail/{{item._id}}" class="posts-result__name">
            <img role="button" alt="Add Comment" src="/assets/images/comment.png" class="posts-result__add-comment"></a>
        </div>

        <div class="posts-content" *ngFor="let element of item.comments.slice(-3)">
          <span>
            <p class=" posts-result__author">{{element.author_id}}</p>
            <p class="posts-result__comment">{{element.content}}</p>
          </span>
          <button type="button" class="posts-result__delete" (click)="deleteComment(element._id)">X</button>
          <!-- *ngIf="this.userData._id === element.author_id._id" -->

        </div>

        <div class="posts-result__comment">
          <form class="posts-result__comment-form" [formGroup]="commentForm">
            <textarea placeholder="Add a comment..." type="input" formControlName="content" rows="2" type="text"
              class="posts-result__comment-box"></textarea>
            <button type="button" class="posts-result__comment-button" (click)="addComment(item._id)">Submit</button>
          </form>
        </div>

      </li>
    </ul>
  </div>

</div>
