<div id="posts-component">
  <app-header></app-header>

  <div class="posts-result__container">
    <ul class="posts-result__container-results">
      <li *ngFor="let item of postsList" class="posts-result">

        <div class="posts-result___details">

          <img [src]="item.url" [alt]="item._id" type="image" class="posts-result__posted-all">

        </div>



        <div class="posts-result__add">
          <a routerLink="/postdetail/{{item._id}}" class="posts-result__name">
            <img role="button" alt="Add Comment" src="/assets/images/comment.png" class="posts-result__add-comment"></a>
        </div>

        <div class="posts-result__sample-comments">
          <span class="posts-result__add-comment">{{item.user}}</span>
      <li *ngFor="let item of contentList" class="posts-content">
        <p class="posts-result__comment">{{item.content}}</p>
      </li>

  </div>

  <div class="posts-result__comment">
    <form class="posts-result__comment-form" [formGroup]="commentForm">
      <textarea placeholder="Add a comment..." type="input" formControlName="content" rows="2" type="text"
        class="posts-result__comment-box"></textarea>
      <button type="button" class="posts-result__comment-button" (click)="addComment(item._id)">Submit</button>
    </form>
  </div>

  </li>
  </ul>

</div>

</div>
