* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
:host {
  display: block;
  background-color: #ffffff;
}
html {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}
.register {
  background-color: #ffffff;
  min-height: 100vh;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  font-size: 1.8rem;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.register-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  width: 60%;
  margin: auto;
}
.login-register_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  color: white;
  padding-top: 0.11rem;
  padding-bottom: 0.1rem;
  border-radius: 0.5rem;
  gap: 2rem;
  margin: auto;
  margin-top: 1rem;
  width: 40%;
  & .login-button {
    background-color: #636366;
    color: white;
    padding: 0.5rem;
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }
  & .login-button:focus {
    background-color: #1c1c1e;
  }
  & .login-button:hover {
    cursor: pointer;
  }
  & .register-button {
    background-color: #636366;
    color: white;
    padding: 0.5rem;
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }
  & .register-button:focus {
    background-color: #1c1c1e;
  }
  & a {
    background: #1c1c1e;
  }
  & a:focus {
    background: #1c1c1e;
  }
  & .register-button:hover {
    cursor: pointer;
  }
}
.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: auto;
  margin-top: 1rem;
  width: 60%;
  gap: 0.6rem;
  position: relative;
  &__errors {
    color: #121212;
    font-size: 0.8rem;
    font-weight: bold;
  }
}

input {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  outline: none;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.671);
}
input:focus {
  border-bottom: 2px solid white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #90caf9;
  transition: background-color 5000s ease-in-out 0s;
}

.register-button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #636366;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 30%;
  font-weight: bold;
}

.register-button__bottom {
  background-color: #636366;
  padding: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  color: white;
  border: none;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
}
.register-button__bottom:hover {
  cursor: pointer;
}
.eye-button {
  background-color: none;
  position: absolute;
  top: 170px;
  right: 30px;
  border: none;
  width: 2rem;
}

p {
  text-align: center;
  font-weight: bolder;
  margin: auto;
  font-size: 0.7rem;
  padding: 2rem;
}

.disabled {
  background-color: #9b9b9e;
}
